# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
*.sqlite3

# Node / Next.js
node_modules/
.next/
out/
.turbo/
next-env.d.ts

# Env
.env
.env.local
.env*.local

# Editors / OS
.DS_Store
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Docker
*.pid
dump.rdb
